<div class="wrapper">
	<div class="container">
	<div id="background">
		<%= form_with url: create_sessions_path, local: true, method: :post do |f| %>
			<div id="padding"></div>
				<div class="overlay">
					<div class="overlay__inner">
						<div id="Login">ログイン</div>
						<div class="textbox">
							<%= f.text_field :name, id: "name", class: "login_textbox", name: "name", size: "30", placeholder: "名前" %>
						</div>
						<div class="textbox">
							<%= f.password_field :password, id: "password", class: "login_textbox", name: "name", size: "30", placeholder: "パスワード" %>
						</div>
						<%= f.submit "ログイン", class: "btn overlay__btn" %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	</div>
</div>