<%= javascript_include_tag 'users/login.js' %>

<div id="circle_1"></div>
<div id="circle_2"></div>
<div id="circle_3"></div>

<div id="padding"></div>
<div class="overlay">
  <div class="overlay__inner">
    <div id="Login">Login</div>
    <div class="textbox">
      <input type="text" id="name" class="login_textbox aaaaaa" name="name" size="30" placeholder="名前">
    </div>
    <div class="textbox">
      <input type="text" id="password" class="login_textbox" name="name" size="30" placeholder="パスワード">
    </div>

    <strong>We are gonna talk accessibility, too.</strong>
    </p>
    <div class="overlay__btns">

      <button class="overlay__btn overlay__btn--transparent">
        <a target="_blank">

          View Tutorial
        </a>
      </button>

      <button class="overlay__btn overlay__btn--colors">
        <span>Randomise Colors</span>
      </button>
    </div>
  </div>
</div>