.sidebar {
  height: 93.4vh;
  width: 350px;
  position: static;
  top: 0;
  left: 0;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 20;
  background-color: #EEEFF1;
}

#scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidebar ul {
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 5px 27px 5px 37px;
  border-bottom: 2px solid #e2e2e2;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #ffffff;
}

.sidebar ul li {
  text-decoration: none;
  color: #333;
  display: block;
}

#create_new {
  border: 1px solid #e2e2e2;
  font-size: 16px;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  line-height: 35px;
  color: #000000;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3);
  cursor: pointer;
  position: relative;
  left: 120px;
  margin: 10px 0;
}

#create_new:hover {
  background-color: #ffffff;
}

.search_box {
  width: 90%;
  position: relative;
  height: 30px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  left: 5%;
  padding: 0 10px;
  outline: none;
}

.current_memo {
  background-color: #ffffff;
}

.content {
  width: 100%;
  padding: 0 32px;
}

#display_flex {
 display: flex;
}

.memos_description {
  font-weight: lighter;
  color: rgb(121, 121, 121);
  font-size: 13px;
  line-height: 20px;
}

.memos_title {
  color: #000000;
  font-weight: 550;
  line-height: 30px;
  font-size: 15px;
}

.memos_description, .memos_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.memos_text_field {
  width: 100%;
  height: 8vh;
  border: none;
  border-bottom: 1px solid #73777c;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 550;
}

.memos_text_area {
  resize: none;
  width: 100%;
  height: 70vh;
  border: none;
  border-bottom: 1px solid #73777c;
  padding: 10px 0 0 15px;
  font-size: 14px;
}

.memos_text_field, .memos_text_area:focus {
  outline: none;
}

.update_button, .delete_button, .create_button {
  position: absolute;
  background-color: #ffffff;
  font-size: 16px;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
}

.update_button:hover, .create_button:hover {
  background-color: #d7e8f8;
  cursor: pointer;
}

.delete_button:hover {
  background-color: #f8d7d7;
  cursor: pointer;
}

.update_button {
  right: 7vw;
  bottom: 6.5vh;

}

.delete_button {
  bottom: 6.5vh;
  right: calc(7vw + 165px);
}

.create_button {
  right: 10vw;
  bottom: 6.5vh;
}
