<div id="display_flex">
  <div class="sidebar">
    <ul>
      <% @memos.reverse.each do |memo| %>
        <%= link_to memo_path(memo) do %>
          <li>
            <%# 要素の幅を均一にする %>
            <% if memo.title.blank? %>
              <div style="padding-top: 30px;"></div>
            <% else %>
              <div class="memos_title"><%= memo.title %></div>
            <% end %>

            <% if memo.description.blank? %>
              <div style="padding-top: 20px;"></div>
            <% else %>
              <div class="memos_description"><%= memo.description %></div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <% render "memos/content" %>
  </div>
</div>
