<% if flash[:notice] %>
  <div class="notice" data-turbo="false">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert" data-turbo="false">
    <%= flash[:alert] %>
  </div>
<% end %>
